.layout-wrapper {
	.layout-main {
		.layout-topbar {
			position: relative;
			transition: all 0.5s;
			&.scrollUp {
				transform: translateY(-120px);
			}
			background-color: $topbarBgColor;
			padding: 0;
			width: 100%;
			@include box-sizing(border-box);
			box-shadow: 0 1px 3px 0 rgba(27,27,27,.1),0 4px 8px 0 rgba(27,27,27,.1);
			.masthead-wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				list-style-type: none;
				.my-avatar {
					img {
						height: 72px;
					}
				}
				.left-side-navigator-bar {
					justify-content: center;
					ul {
						.selected {
							border-bottom-style: solid;
							border-bottom-color: #0052CC;
						}
						a {
							color: #42526E;
							font-size: 1.5em;

						}
					}
					
				}
			}
		}
	}
}