.layout-wrapper {
	.layout-main {
		.layout-topbar {
			background-color: $primaryColor;
			padding: 0;
			position: relative;
			width: 100%;
			@include transition(width $transitionDuration);
			@include box-sizing(border-box);
			z-index: 999997;
		}
	}
}