.layout-wrapper {
	.layout-main {
		.layout-topbar {
			background-color: $bodyBgColor;
			padding: 0;
			position: relative;
			width: 100%;
			@include transition(width $transitionDuration);
			@include box-sizing(border-box);
			z-index: 999997;
			.masthead-wrap {
				display: flex;
				justify-content: center;
				.my-name {
					height: 15em;
				}
				.land {
					height: 30em;
				}
			}
		}
	}
}