.layout-wrapper {
	.layout-main {
		@include transition(margin-left $transitionDuration);
		@include box-sizing(border-box);
		background-color: $bodyBgColor;
		.container {
			max-width: $layout-main-max-width;
			margin-left: auto;
			margin-right: auto;
			padding: 17px 17px 24px 17px;
			&.layout-content {
				.contact {
					.say-hi {
						> span {
							font-size: 144px;
							font-weight: 400;
							line-height: 144px;
							opacity: 0.2;
						}
					}
					i {
						&::before {
							color: $primaryColor;
						}
					}
				}
			}
			section {
				h2, h3, h1 {
					color: $primaryColor;
				}
				&.navigator-bar {
					ul {
						list-style-type: none;
						a {
							display: flex;
							align-items: center;
							i {
								margin-right: 15px;
								&::before {
									font-size: 1.5em;
								}
							}
						}
					}
				}
			}
		}
	}
}