.layout-wrapper {
	.layout-main {
		@include transition(margin-left $transitionDuration);
		@include box-sizing(border-box);
		background-color: #FFF;
		.container {
			max-width: $layout-main-max-width;
			margin-left: auto;
			margin-right: auto;
			padding: 17px 17px 24px 17px;
		}
	}
}