@import './work'; 

.layout-wrapper {
	.layout-main {
		@include transition(margin-left $transitionDuration);
		@include box-sizing(border-box);
		background-color: $bodyBgColor;
		.container {
			max-width: $layout-main-max-width;
			margin-left: auto;
			margin-right: auto;
			padding: 17px 17px 24px 17px;
			&.layout-content {
				margin-top: 120px;
				.contact {
					.say-hi {
						> .c {
							font-size: 144px;
							font-weight: 400;
							line-height: 144px;
							opacity: 0.2;
						}
						> div {
							font-size: 32px;
							font-weight: 36px;
							font-weight: 700;
						}
					}
					.find-me {
						span {
							font-size: 18px;
							line-height: 24px;
						}
						.navigator-bar {
							ul {
								flex-direction: column;
								a {
								display: inline-block;
								color: #000;
								opacity: 0.7;
								text-decoration: none;
								}
							}
						}
					}
				}
			}
			section {
				.navigator-bar {
					ul {
						display:flex;
						list-style-type: none;
						opacity: 0.7;
						li {
							margin-right: 15px;
						}
						a {
							display: flex;
							text-decoration: none;
							
							i {
								&::before {
									font-size: 1.5em;
								}
							}
						}
					}
				}
			}
		}
	}
}