.layout-wrapper {
	.layout-main {
		@include transition(margin-left $transitionDuration);
		@include box-sizing(border-box);
		background-color: #FFF;
		.container {
			max-width: $layout-main-max-width;
			margin-left: auto;
			margin-right: auto;
			padding: 17px 17px 24px 17px;
			section {
				h2 {
					color: #1e836c;
					text-align: center;
				}
				h3 {
					font-size: 2em;
					font-weight: 500;
				}
				&.profile-contact {
					ul {
						list-style-type: none;
						display: flex;
						justify-content: space-around;
					}
				}
			}
		}
	}
}