.layout-wrapper {
	.layout-main {
		@include transition(margin-left $transitionDuration);
		@include box-sizing(border-box);
		background-color: #FFF;
		.container {
			max-width: $layout-main-max-width;
			margin-left: auto;
			margin-right: auto;
			padding: 17px 17px 24px 17px;
			section {
				h2 {
					font-size: 3.8em;
					font-weight: 400;
					color: #1e836c;
					text-align: center;
				}
				h3 {
					color: #45b29a;
					font-size: 2em;
					font-weight: 500;
					text-align: center;
				}
			}
		}
	}
}