@import './work'; 

.layout-wrapper {
	.layout-main {
		@include transition(margin-left $transitionDuration);
		@include box-sizing(border-box);
		background-color: $bodyBgColor;
		.container {
			max-width: $layout-main-max-width;
			margin-left: auto;
			margin-right: auto;
			padding: 17px 17px 24px 17px;
			&.layout-content {
				margin-top: 120px;
			}
			section {
				.navigator-bar {
					ul {
						display:flex;
						list-style-type: none;
						opacity: 0.7;
						li {
							margin-right: 15px;
						}
						a {
							display: flex;
							text-decoration: none;
							
							i {
								&::before {
									font-size: 1.5em;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
	.layout-wrapper {
		.layout-main {
			.container {
				padding: 45px 45px;
			}
		}
	}
}
