.match-info {
	width: 70%;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 1px 3px 0 rgba(27,27,27,.2),0 4px 8px 0 rgba(27,27,27,.05);
	padding: 20px;
    .summary-detail {
        .summary-details-container {
            .qs-details-label-cell {
                > span {
                    font-weight: bolder;
                }
            }
        }
    }
}