.match-info {
    .summary-detail {
        .summary-details-container {
            .qs-details-label-cell {
                > span {
                    font-weight: bolder;
                }
            }
        }
    }
}