.layout-wrapper {
		.layout-main {
			.container {
				&.layout-content {
					.work {
						position: relative;
						padding: 100px 20px 20px 20px;
						margin: 0px;
						.working-line {
							position: absolute;
							top: 100px;
							left: 50%;
							bottom: 20px;
							width: 1px;
							min-height: 200px;
							background: rgba(0, 0, 0, 0.1);
							.fa-circle, .fa-plus-circle {
								font-size: 2.5em;
								position: absolute;
								left: -0.46em;
							}
							.fa-circle {
								bottom: -1em;
								color: rgba(0,0,0,0.1);
							}
							&:hover {
								color: rgba(0,0,0,1);
							}
						}
						.work-item {
							position: relative;
							width: 100%;
							text-align: center;
							background-color: #fff;
							margin-bottom: 40px;
							.work-item-wrapper {
								.work-item-content {
									&.work-item-left {
										right: 50%;
										border: 6.5px solid transparent;
										border-right: 6.5px solid #fff;
										border-top: 6.5px solid #fff;
										box-shadow: 4px -4px 10px -1.5px rgba(0, 0, 0, 0.3);
									}
									.header {
										color: rgba(0,0,0,1);
										font-weight: bold;
										text-align: left;
										padding: 0;
									}
									.decription {
										overflow: auto;
										text-align: left
										p {
											padding: 3px 0px;
											word-wrap: break-word;
											word-break: break-word;
										}
									}
								}
								
							}
						}
					}
				}
			}
	}
}
