.ui-widget input[type="text"].ui-state-error, 
.ui-widget input[type="password"].ui-state-error,
.ui-widget input[type="autocomplete"].ui-state-error,
.ui-widget .ui-inputtextarea.ui-state-error{
    background-image: linear-gradient(to bottom, $error-color, $error-color), linear-gradient(to bottom, $error-color, $error-color);
}
.ui-message {
	padding: 0;
}
.ui-message-error {
	background-color: transparent;
	border-color: transparent;
	color: $error-color;
	margin: 8px 0 0 0;
	border: 0;
}
.md-inputfield {
	.ui-message.ui-message-error {
		color: $error-color;
   }
}

@mixin ui_message() {
	min-height: 30px;
	padding: 6px 0 8px;
    margin: 0;
    border: 0;
	font-size: $font-size-base;
}
.ui-input-section {
	.ui-outputpanel > {
		.ui-inputfield,
		.ui-inputfield + input,
		.ui-selectonemenu,
		.ui-inputnumber,
		.ui-calendar,
		.ui-selectoneradio,
		.ui-chkbox,
		.ui-selectmanycheckbox,
		.ui-selectcheckboxmenu,
		.intl-tel-input,
		.ui-autocomplete {
			+ .ui-message {
				@include ui_message();
			}
		}

		.ui-inputfield,
		.ui-selectonemenu,
		.ui-inputnumber,
		.ui-calendar,
		.ui-chkbox,
		.ui-selectoneradio {
			+ .ui-message {
				&.ui-message-error {
					margin: 0;
				}
			}
		}
	}
}
.textarea-with-pfscroll .ui-message{
	@include ui_message();
}
.ui-message-error,
.ui-messages-info-detail, .ui-messages-warn-detail,
.ui-messages-error-detail, .ui-messages-fatal-detail,
.ui-message-info-detail, .ui-message-warn-detail,
.ui-message-error-detail, .ui-message-fatal-detail {
	margin-left: 0;
	font-size: $font-size-base;
	line-height: 1;
}

/* Custom state-error */
.ivy-ui-state-error {
    @extend .ui-state-error;
    border-bottom: 1px solid $error-color;
}
label.ivy-ui-state-error {
    border: none;
    color: $error-color !important;
}
