<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>My Profile</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/theme.css}" />
	</head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div class="container layout-content">
					<div class="contact">
						<div class="say-hi">
							<div class="c">C</div>
							<h1><b>Say hi</b></h1>
							<h3>xuanchuongdp@gmail.com</h3>
						</div>
						<br>
						<section class="navigator-bar find-me">
							<h2><b>Find me on</b></h2>
							<ul>
								<li>
									<span>
										<a href="https://facebook.com/" target="_blank">facebook</a>
									</span>
								</li>
								<li>
									<span>
										<a href="https://vn.linkedin.com/">linkedin</a>
									</span>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>