<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:insert="template.html :: headerfiles"></head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div th:insert="template.html :: header"></div>
				<div class="container layout-content">
					<div class="contact">
						<div class="say-hi">
							<div class="c">C</div>
							<h1><b>Say hi</b></h1>
							<h3 th:text="${user.fullName}"></h3>
						</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	
		<head th:insert="template.html :: footer-js"></head>
	</body>
</html>