<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="template.html :: headerfiles"></head>
<body>
	<div class="layout-wrapper">
		<div class="layout-main">
			<div th:insert="template.html :: header"></div>
			<div class="container layout-content">
				<h2>Testing result</h2>
				<h3>Vocabulary </h3>
				<p th:text="${vocabulary}"></p>
				<h3>Gramma</h3>
				<p th:text="${gramma}"></p>
				<h3>Listening</h3>
				<p th:text="${listening}"></p>
				<div class="jlpt">
					<div th:insert="jlptTemplate.html :: jlpt-header"></div>
					<div class="jlpt-body">
						<table>
							<tr th:each="jlptQuestion: ${jlptResult.vocabularyQuestions}">
								<td class="jlptQuestion">
									<p class="question-title">
										<span th:text="${jlptQuestionStat.index}"></span> <label
											th:text="${jlptQuestion.question}"></label>
									</p>
									<ul>
										<li th:each="option : ${jlptQuestion.answers.options}">
											<input
												type="radio"
												th:checked="${jlptQuestion.selectedAnswer == option.key}"
												th:disabled="${true}"/>
												<label th:text="${option.value}"></label>
												<label th:if="${option.key == jlptQuestion.correctAnswer}" th:text="kếtquả"></label>
											
										</li>
									</ul>
									<p>
										<label th:if="${jlptQuestion.selectedAnswer == jlptQuestion.correctAnswer}" th:text="đúng"></label>
										<label th:if="${jlptQuestion.selectedAnswer != jlptQuestion.correctAnswer}" th:text="sai"></label>
									</p>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<head th:insert="template.html :: footer-js"></head>
</body>
</html>
