<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="template.html :: headerfiles"></head>
<body>
	<div class="layout-wrapper">
		<div class="layout-main">
			<div th:insert="template.html :: header"></div>
			<div class="container layout-content">
				<form method="post" th:object="${jlptForm}"
					class="jlpt-testing-form">
					<h2>Vocabulary questions</h2>
					<tr th:each="jlptQuestion: *{vocabularyQuestions}">
						<div class="jlptQuestion">
							<p class="question-title">
								<span th:text="${jlptQuestionStat.index}"></span> <label
									th:text="${jlptQuestion.question}"></label>
							</p>
							<ul>
								<li th:each="option : ${jlptQuestion.answers.options}"><input
									type="radio"
									th:field="*{vocabularyQuestions[__${jlptQuestionStat.index}__].selectedAnswer}"
									th:value="${option.key}" /> <label th:text="${option.value}"></label></li>
							</ul>
							<span class="error" th:if="${#fields.hasErrors('vocabularyQuestions[__${jlptQuestionStat.index}__].selectedAnswer')}">error</span>
						</div>
					</tr>
					<input type="submit" value="done" />
				</form>
			</div>
		</div>
	</div>
<head th:insert="template.html :: footer-js"></head>
</body>
</html>
