<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:insert="template.html :: headerfiles"></head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div th:insert="template.html :: header"></div>
				<div class="container layout-content">
					<form method="post" th:action="@{/submit}" th:object="${jlptForm}">
						<h1></h1>
						<tr th:each="jlptQuestion: *{questions}">
							<div>
							<label th:text="${jlptQuestion.question}"></label>
							<li th:each="option : ${jlptQuestion.options}">
							    <input type="radio" th:value="${option}" />
							    <label th:text="${option}"></label>
							  </li>
							</div>
						</tr>
						<input type="submit" value="Submit order" />
					</form>
				</div>
			</div>
		</div>
		
		<head th:insert="template.html :: footer-js"></head>
	</body>
</html>
	