<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<div class="jlpt-header" th:fragment="jlpt-header">
		<div class="header-left jlpt-level"><span>N4</span></div>
		<div class="header-center question-selection-box">
			<div th:each="question: *{vocabularyQuestions}" class="question-selection">
				<span th:text="${questionStat.index}"></span>
			</div>
		</div>
		<div class="header-right">
			<input type="submit" value="nộp bài" />
		</div>
	</div>
</html>