<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:insert="template.html :: headerfiles"></head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div th:insert="template.html :: header"></div>
				<div class="container layout-content">
					<div class="match-info" th:if="${match != null}">
						<label th:text="${match.title}"></label>
						<label th:text="${match.startDate}"></label>
						<label th:text="${match.location}"></label>
						<form name="match-info-form" method="post" th:action="@{join(id=${match.id})}">
							<button type="submit">join the match</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	
		<head th:insert="template.html :: footer-js"></head>
	</body>
</html>