<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:insert="template.html :: headerfiles"></head>
<body>
	<div class="layout-wrapper">
		<div class="layout-main">
			<div th:insert="template.html :: header"></div>
			<div class="container layout-content">
				<div class="match-info" th:if="${match != null}">
					<div class="title-box">
						<label class="title" th:text="${match.title}"></label>
					</div>
					<div class="summary-detail">
						<div>
							<h2>
								<i class="fal fa-info"></i>
								Detail
							</h2>
						</div>
						<div class="summary-details-container">
							<div class="qs-details-label-cell">
								<span>thời gian: </span>
								<label th:text="${match.startDate}"></label>
							</div>
							 <div class="qs-details-label-cell">
							 	<span>địa điểm: </span>
								<label th:text="${match.location}"></label>
							</div>
							<div class="qs-details-label-cell">
							 	<span>liên hệ: </span>
								<label th:text="${match.owner.fullName}"></label>
							</div>
							<div class="qs-details-label-cell">
							 	<span>mô tả: </span>
								<label th:text="${match.description}"></label>
							</div>
							<div class="qs-details-label-cell">
							 	<span>người tham gia: </span>
							 	<div th:each="player, stat : ${match.paticipants}">
							 		<a href="#" th:text="${player.fullName}" data-toggle="modal" 
							 			data-target="#playerInfoDialog"
							 			data-id="123456" class="paticipant-link"></a>
							 	</div>
								
							</div>
						</div>
					</div>
					<div class="action-buttons">
						<form action="#" th:action="@{'/match/join?id={id}'(id=${match.id})}" th:method="post">
							<button type="submit" id="submitButton" >join the match</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal" id="playerInfoDialog" tabindex="-1" role="dialog"
		aria-labelledby="playerInfoDialogLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="playerInfoDialogLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true"></span>
					</button>
				</div>
				<div class="modal-body">
					<p>Some content</p>
					<input type="text" id="playerId" name="playerId" value=""/>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Close</button>
					<button type="button" class="btn">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<head th:insert="template.html :: footer-js"></head>
	<script th:src="@{/js/match-detail.js}"></script>
</body>
</html>