<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>My Profile</title>
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/theme.css}" />
	</head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div class="layout-topbar">
					<div class="masthead-wrap">
						<img th:src="@{/images/im_chuong.svg}"/>
					</div>
					<div class="masthead-wrap"> 
						<img
							src="http://seanhalpin.io/assets/img/content/home/masthead/land.svg" />
					</div>
				</div>
	
				<div class="container layout-content">
					<section class="hello">
						<article>
							<H3>Hi.</H3>
							<p>I'm a web designer / developer based in Hochiminh, Vietnam.
								I have a passion for web design and love to create for web and
								mobile devices.</p>
						</article>
					</section>
					<section>
						<article>
							<header>
								<H2>What can I do</H2>
							</header>
							<div class="design">
								<h3>design what you want</h3>
								<p>I like to keep it simple. My goals are to focus on
									typography, content and conveying the message that you want to
									send.</p>
							</div>
							<div class="design">
								<H3>design what you need</H3>
								<p>I'm a developer, so I know how to create your website to
									run across devices using the latest technologies available.</p>
							</div>
						</article>
						<article>
							<header>
								<H2>I can help.</H2>
							</header>
							<div class="design">
								<h3>I’m currently available for freelance work.</h3>
								<p>If you have a project that you want to get started, think
									you need my help with something or just fancy saying hey, then
									get in touch.</p>
							</div>
						</article>
					</section>
				</div>
	
				<div class="layout-footer clearfix">
					<div class="links">
						<UL>
							<LI><A href="https://facebook.com">facebook</A></LI>
							<LI><A href="https://facebook.com">Intagram</A></LI>
						</UL>
					</div>
					<span class="footer-text-right"> <span
						class="ui-icon ui-icon-copyright"></span> <span>All Rights
							Reserved</span>
					</span>
				</div>
			</div>
		</div>
	</body>
</html>