<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head>
	<title>My Profile</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/css/theme.css}" />
	</head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
<!-- 				<div class="layout-topbar"> -->
<!-- 					<div class="masthead-wrap"> -->
<!-- 						<img class="my-name" th:src="@{/images/im_chuong.svg}"/> -->
<!-- 					</div> -->
<!-- 					<div class="masthead-wrap">  -->
<!-- 						<img class="land" th:src="@{/images/land.svg}"/> -->
<!-- 					</div> -->
<!-- 				</div> -->

				<div class="container layout-content">
					<div class="contact">
						<div class="say-hi">
							<span class="">C</span>
						</div>
						<section class="navigator-bar contact">
							<h1>Find me on</h1>
							<ul>
								<li>
									<a href="https://facebook.com/">
										<i class="fab fa-facebook"></i>
										<h2>facebook</h2>
									</a>
								</li>
								<li>
									<a href="https://vn.linkedin.com/">
										<i class="fab fa-linkedin-in"></i>
										<h2>linkedin</h2>
									</a>
								</li>
							</ul>
						</section>
					</div>
				</div>

<!-- 				<div class="layout-footer clearfix"> -->
<!-- 					<div class="container"> -->
<!-- 						<section class="navigator-bar"> -->
<!-- 							<ul class="footer-links"> -->
<!-- 								<li><i class="fab fa-facebook"></i></li> -->
<!-- 								<li><i class="fab fa-instagram"></i></li> -->
<!-- 								<li><i class="fab fa-linkedin-in"></i></li> -->
<!-- 							</ul> -->
<!-- 						</section> -->
<!-- 						<section class="navigator-bar footer-text-right"> -->
<!-- 							<ul> -->
<!-- 								<li> -->
<!-- 									<i class="far fa-copyright"></i> -->
<!-- 									<span>All Rights Reserved</span> -->
<!-- 								</li> -->
<!-- 							</ul> -->
<!-- 						</section> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
		</div>
	</body>
</html>