<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="profile.css">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div>
            <div class="personal-container">
                <div class="personal">
                    <div class="personal-image">

                    </div>
                    <div class="personal-info">
                        <div class="personal-name">Xuan Chuong Nguyen</div>
                        <div class="personal-position">Java developer</div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="main">
                    <div class="section">
                        <div class="section-title">
                            <div class="section__icon section__icon--profile"></div>Profile
                        </div>
                        <div class="section-item">
                            <div class="section-item-text">
                                <p>Experienced and knowledgeable information technology professional with 3+ years' experience. Strong in design and integration problem-solving skills. Skilled in developing business plans, requirements specifications.</p>
                                <p>
                                    <strong>Software skills include:</strong>
                                </p>
                                <ul>
                                    <li>Languages: Java, JavaScript, HTML, CSS, SCSS, Primefaces.</li>
                                    <li>Working methodology: Agile with Scrum</li>
                                    <li>Software: Eclipse, git-scm.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-title">
                            <div class="section__icon section__icon--work"></div>Employment History
                        </div>
                        <div class="section-item" style="page-break-inside: auto;">
                            <div class="section-item-title">Java Developer at  Axon Active Vietnam, Ho Chi Minh</div>
                            <div class="section-item-subtitle">September 2016&nbsp;&nbsp;–&nbsp;&nbsp;Present</div>
                            <div class="section-item-text">
                                <ul>
                                    <li>Developed and implemented Fin-tech application for Swiss banks.</li>
                                    <li>Customize JSF life-cycle and used&nbsp;drool rule engine for business decisions.</li>
                                    <li>Synchronized tasks and data between different user role at real-time.</li>
                                    <li>Organized customer information for business planning and customer requirements.</li>
                                    <li>Team member of design-team crossover team of Axon Fin-tech department. Responded and support other members for Fin-tech theme, layout, style.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-title">
                            <div class="section__icon section__icon--education"></div>Education
                        </div>
                        <div class="section-item" style="page-break-inside: avoid;">
                            <div class="section-item-title">Bachelor's degree, Ho Chi Minh City University of Science, Ho Chi Minh</div>
                            <div class="section-item-subtitle">September 2012&nbsp;&nbsp;–&nbsp;&nbsp;June 2016</div>
                            <div class="section-item-text"></div>
                        </div>
                    </div>
                    <div class="section">
                        <div class="section-title">
                            <div class="section__icon section__icon--activities"></div>Extra-curricular activities
                        </div>
                        <div class="section-item" style="page-break-inside: avoid;">
                            <div class="section-item-title">Learn japan language at  Sakura Nihongo School</div>
                            <div class="section-item-subtitle">March 2018&nbsp;&nbsp;–&nbsp;&nbsp;July 2019</div>
                            <div class="section-item-text">
                                <p>Currently, I am learning japan language at Sakura school at every Monday, Wednesday and Friday night.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="aside">
                    <div class="aside__section">
                        <div class="aside__title">Details</div>
                        <div class="aside__content">
                            <div class="aside__paragraph">
                                <div class="aside__text">106 Trinh Dinh Trong, Tan Phu, Ho Chi Minh, 700000, Vietnam, 0986381781</div>
                                <div class="aside__text aside__text--link setting--primary-text">xuanchuongdp@gmail.com</div>
                            </div>
                            <div class="aside__paragraph">
                                <div class="aside__label">Date of birth</div>
                                <div class="aside__text">01/03/1994</div>
                            </div>
                            <div class="aside__paragraph">
                                <div class="aside__label">Nationality</div>
                                <div class="aside__text">Viet Nam</div>
                            </div>
                        </div>
                    </div>
                    <div class="aside__section">
                        <div class="aside__title">Links</div>
                        <div class="aside__paragraph">
                            <div class="aside__text">
                                <a class="aside__link setting--primary-text" href="https://www.linkedin.com/in/xuanchuongdp/" target="_blank">xuanchuongdp</a>
                            </div>
                        </div>
                    </div>
                    <div class="aside__section">
                        <div class="aside__title">Skills</div>
                        <div class="aside__content">
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">Core Java</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 66%;"></div>
                                </div>
                            </div>
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">Design Patterns</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 66%;"></div>
                                </div>
                            </div>
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">JSF</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 66%;"></div>
                                </div>
                            </div>
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">Spring Framework</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 49%;"></div>
                                </div>
                            </div>
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">CSS3</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 49%;"></div>
                                </div>
                            </div>
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">JavaScript</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 49%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside__section">
                        <div class="aside__title">Languages</div>
                        <div class="aside__content">
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">Japanese language</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 32%;"></div>
                                </div>
                            </div>
                            <div class="aside__paragraph aside__paragraph--sm">
                                <div class="aside__text">English language</div>
                                <div class="progress">
                                    <div class="progress__inner setting--primary-background" style="width: 83%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="aside__section">
                        <div class="aside__title">Hobbies</div>
                        <div class="aside__content">
                            <div class="aside__text">Playing football</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>