html {
    font-size: 7.5px;
    line-height: 1.25;
    color: #212121;
    width: 900px;
    margin: auto;
}
* {
    box-sizing: border-box;
}

body {
    background-color: #FFF;
    font-family: 'Source Sans Pro', sans-serif;
    height: 1267px;
}

.personal-container {
    padding: 0rem 8.2rem;
    padding-top: 44px;
    margin-bottom: 4rem;
    .personal {
        display: flex;

        .personal-image {
            background-image: url("../static/images/profile/avatar.jpg");
            width: 10rem;
            height: 10rem;
            border-radius: 6px;
            background-size: cover;
            margin-right: 3rem;
        }
        .personal-info {
            .personal-name {
                font-size: 4.6rem;
                font-weight: 600;
                white-space: nowrap;
                line-height: 1.2;
            }
            .personal-position {
                white-space: nowrap;
                font-size: 1.8rem;
            }
        }
    }
}

.container {
    position: relative;
    display: block;
    max-width: 120rem;
    font-size: 1.8rem;
    padding: 0rem 40rem 0rem 8.2rem;
    line-height: 1.55;
    font-weight: 400;

    .main {
        width: 100%;
        padding-right: 2rem;
        .section {
            margin-bottom: 3.6rem;
            .section-title {
                position: relative;
                font-size: 2.8rem;
                font-weight: 600;
                padding-left: 3.4rem;
                .section-icon {
                    position: absolute;
                    width: 2rem;
                    height: 2rem;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%);
                    background-size: contain;
                    &.section-icon-profile {
                        background-image: url("../static/images/profile/user.svg");
                    }
                    &.section-icon-work {
                        background-image: url("../static/images/profile/history.svg")
                    }
                    &.section-icon-education {
                        background-image: url("../static//images/profile/mortarboard.svg")
                    }
                    &.section-icon-activities {
                        background-image: url("../static//images/profile/leaves.svg")
                    }
                }
            }
            .section-item {
                padding-left: 3.4rem;
                margin-bottom: 1.8rem;
                .section-item-title {
                    font-size: 2.2rem;
                    font-weight: 600;
                }
                .section-item-subtitle {
                    font-size: 1.8rem;
                    color: #455a64;
                    margin-bottom: 0.5rem;
                }
                .section-item-text {
                    font-size: 2rem;
                    color: #262b33;
                    p {
                        margin: 0 0 1.2rem 0;
                    }
                    ul {
                        margin: 0.6rem 0;
                        list-style-position: outside;
                        padding-left: 3.2rem;
                    }
                }
            }
        }
    }

    .setting-primary-text {
        color: #2196F3;
    }
    .setting-primary-background {
        color: #2196F3;
    }
    .aside {
        position: absolute;
        top: 0rem;
        right: 8rem;
        width: 30rem;
        padding: 0.5rem 1.2rem;
        border-radius: 1.4rem;
        .aside-section {
            margin-bottom: 3rem;
            .aside-title {
                font-size: 2.3rem;
                font-weight: 600;
            }
            .aside-content {
                .aside-paragraph {
                    font-size: 2rem;
                    margin-bottom: 1.8rem;
                    .aside-text {
                        &.aside-text-link {
                            max-width: 100%;
                            word-wrap: break-word;
                        }
                    }
                    .aside-label {
                        font-size: 2rem;
                        margin-bottom: 0.4rem;
                        color: #455a64;
                    }
                    &.aside-paragraph-sm {
                        margin-bottom: 1.3rem;
                        .progress {
                            width: 100%;
                            height: 3px;
                            background: rgba(82,27,11,0.1);
                            border-radius: 3px;
                            margin-top: 0.4rem;
                            .progress-inner {
                                height: 100%;
                                border-radius: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}