<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
	<head th:insert="template.html :: headerfiles">
		<title>my football - register</title>
	</head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div th:insert="template.html :: header"></div>
				<div class="container layout-content">
					<form name="f" th:object="${user}" th:action="@{/register}"
						method="post" class="login-form" enctype="multipart/form-data">
						<div class="login-wrapper">
							<div class="first-name login-item">
								<label for="firstName">First Name</label>
								<input type="text" id="firstName" name="firstName" th:field="*{firstName}"/>
								<p th:each="error: ${#fields.errors('firstName')}" th:text="${error}">Validation error</p>
							</div>
							<div class="last-name login-item">
								<label for="lastName">Last Name</label>
								<input type="text" id="lastName" name="lastName" th:field="*{lastName}"/>
								<p th:each="error: ${#fields.errors('lastName')}" th:text="${error}">Validation error</p>
							</div>
							<div class="user-name login-item">
								<label for="email">Email</label>
								<input type="email" id="email" name="email" th:field="*{email}"/>
								<p th:each="error: ${#fields.errors('email')}" th:text="${error}">Validation error</p>
							</div>
							<div class="password login-item">
								<label for="password">Password</label>
								<input type="password" id="password" name="password" th:field="*{password}"/>
								<p th:each="error: ${#fields.errors('password')}" th:text="${error}">Validation error</p>
							</div>
							<div class="form-actions">
								<div class="login-bt">
									<button type="submit" class="btn">Join</button>
								</div>
								<div class="register-div">
									<div>already have an account?</div>
									<a href="/login" class="register-link">Login</a>
								</div>
								
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer th:insert="template.html :: footer-js"></footer>
	</body>
</html>
