<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:insert="template.html :: headerfiles"></head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div th:insert="template.html :: header"></div>
				<div class="container layout-content">
					<div class="work">
						<div class="working-line">
							<i class="fa fa-circle"></i>
						</div>
						<tr th:each="item: ${bunbo}">
							<div class="work-item">
								<div class="work-item-wrapper">
									<div class="work-item-content work-item-left">
										<a href="/">
										<div class="header">
											<label>java developer</label>
										</div>
										<div class="decription">
											<p>
												Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
											</p>
										</div>
									</a>
									</div>
								</div>
							</div>
						</tr>
					</div>
				</div>
			</div>
		</div>
	
		<head th:insert="template.html :: footer-js"></head>
	</body>
</html>