<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles">
		<title>my football - my game</title>
		<link rel="stylesheet" type="text/css"
			th:href="@{/libs/perfect-scrollbar/perfect-scrollbar.css}" />
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<link rel="stylesheet" th:href="@{/css/theme.css}" type="text/css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	</head>
	<div th:fragment="header" class="layout-topbar">
		<div class="container">
			<section class="navigator-bar masthead-wrap">
				<div class="my-avatar">
					<a href="/dashboard"> <img class="my-name"
						th:src="@{/images/me.svg}" />
					</a>
				</div>
				<div class="navigator-bar left-side-navigator-bar">
					<ul>
						<li th:each="item: ${headerAttribute}"
							th:class="${item == selectedItemAttr}? 'selected' : ''"><a
							th:href="${item.url}" th:text="${item.value}"></a></li>
						<li sec:authorize="isAuthenticated()"><a href="/logout">logout</a>
						</li>
						<li sec:authorize="!isAuthenticated()"><a href="/logout">login</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>
	<div th:fragment="footer-js">
		<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
		<script th:src="@{/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
		<script th:src="@{/js/dashboard.js}"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	</div>
</html>