<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org"
	lang="en">
	<head th:fragment="headerfiles">
		<title>my football - my game</title>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
		<link rel="stylesheet" th:href="@{/libs/perfect-scrollbar/perfect-scrollbar.css}"/>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
		<link rel="stylesheet" th:href="@{/css/theme.css}" />
	</head>
	<body>
		<div class="layout-wrapper">
			<div class="layout-main">
				<div th:fragment="header" class="layout-topbar">
					<div class="container">
						<section class="navigator-bar masthead-wrap">
							<div class="my-avatar">
								<a href="/dashboard">
									<img class="my-name" th:src="@{/images/me.svg}" alt="avatar"/>
								</a>
							</div>
							<div class="navigator-bar left-side-navigator-bar">
								<ul>
									<li>
										<a href="/match/create">Create a match</a>
									</li>
									<li sec:authorize="isAuthenticated()">
										<a href="/logout">logout</a>
									</li>
									<li sec:authorize="!isAuthenticated()">
										<a href="/login">login</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
		<div th:fragment="footer-js">
			<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
			<script th:src="@{/libs/perfect-scrollbar/perfect-scrollbar.js}"></script>
		</div>
	</body>
</html>
