<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  lang="en">
<head th:insert="template.html :: headerfiles">
	<title>my football - match detail</title>
</head>
<body>
<div class="layout-wrapper">
	<div class="layout-main">
		<div th:insert="template.html :: header"></div>
		<div class="container layout-content">
			<form th:object="${match}" method="post" class="match-detail">
				<div class="match-detail-item match-info">
					<div class="item">
						<label th:text="${match.title}"></label>
					</div>
					<div class="item">
						<label>Thời gian: </label>
						<label th:text="${#temporals.format(match.startDate,'dd/MMM/yyyy HH:mm a')}"></label>
					</div>
					<div class="item">
						<label>Địa điểm: </label>
						<label th:text="${match.location}"></label>
					</div>
					<div class="item">
						<label>Mô tả: </label>
						<label th:text="${match.description}"></label>
					</div>
				</div>
				<div class="match-detail-item owner">
					<div class="item">
						<label><strong>Chủ trận đấu:</strong></label>
					</div>
					<div class="contact item">
						<label th:text="${match.owner.getEmail()}"></label>
					</div>
				</div>
				<div class="match-detail-item participant">
					<div class="item action-bt">
						<div class="item join-bt" th:if="${joinable}">
							<button type="button" name="joinBt" data-toggle="modal" data-target="#joinModal">Tham gia
							</button>
						</div>
						<div class="item join-bt" th:if="${isJoined}">
							<button type="button" name="leaveBt" data-toggle="modal" data-target="#leaveModal">Rời khỏi trận
							</button>
						</div>
						<div class="item join-bt" th:if="${isPendingJoinRequest}">
							<button type="button" name="cancelJoinRequestBt" data-toggle="modal" data-target="#cancelJoinRequestModal">Hủy yêu cầu
							</button>
						</div>
					</div>
					<div class="item">
						<label><strong>Người tham gia:</strong></label>
						<div class="item" th:each="participant : ${match.getParticipants()}">
							<label th:text="${participant.email}"></label>
						</div>
					</div>
					<div class="item" th:if="${isMatchOwner}">
						<label><strong>Danh sách yêu cầu:</strong></label>
						<div class="item" th:each="request : ${match.getPendingPlayer()}">
							<label th:text="${request.email}"></label>
							<button type="button" name="rejectJoinRequestBt" data-toggle="modal" data-target="#rejectJoinRequestModal"
									th:attr="data-object-name=${request.email}">
								Từ chối
							</button>
							<button type="button" name="acceptJoinRequestBt" data-toggle="modal" data-target="#acceptJoinRequestModal"
							th:attr="data-object-name=${request.email}">
								Chấp nhận
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- Modal -->
<form th:object="${match}" method="post">
	<input type="hidden" th:field="*{id}"/>
	<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Đồng ý tham gia </h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label>Mình đồng ý tham gia</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" name="confirmJoinBt" class="btn btn-primary">Đồng ý</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label class="modal-title">Đồng ý rời</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label>Mình đồng ý rời</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" name="confirmLeaveBt" class="btn btn-primary">Rời</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="cancelJoinRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<label class="modal-title">Đồng ý hủy</label>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label>Mình đồng ý hủy yêu cầu</label>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" name="confirmCancelRequestBt" class="btn btn-primary">Hủy</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="rejectJoinRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Từ chối yêu cầu</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label>Từ chối yêu cầu tham gia trận đấu</label>
					<input type="hidden" id="requestUserEmail">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" name="confirmRejectJoinRequestBt" class="btn btn-primary">Từ chối</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="acceptJoinRequestModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
		 aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">chấp nhận yêu cầu</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label>Chấp nhận yêu cầu tham gia trận đấu</label>
					<input type="hidden" id="requestUserEmail">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					<button type="button" name="confirmAcceptJoinRequestBt" class="btn btn-primary">Chấp nhận</button>
				</div>
			</div>
		</div>
	</div>
</form>
<footer>
	<div th:insert="template.html :: footer-js"></div>
	<script th:src="@{/js/matchDetail.js}"></script>
</footer>
</body>
</html>
