button {
    background-color: $primaryColor;
    color:#fff;
    padding: 8px 10px;
    line-height: 24px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    &[disabled] {
    	cursor: default;
    }
}