form {
  .form-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: white;
    max-width: 500px;
    padding: 1.5rem 2rem;
    border: 1px solid #dce0e6;
    border-radius: 4px;

    .form-body {
      .form-item {
        margin-bottom: 2rem;
        .error-message {
          color: #cc0033;
          display: inline-block;
          font-size: 12px;
          line-height: 15px;
          margin: 5px 0 0;
        }
        label {
          display: block;
          color: #434343;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: .3px;
        }
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;

      .action-bt {
        width: 40%;
        button {
          background-color: #f96d01;
          color: #fff;
          width: 100%;
          padding: 8px 10px;
          line-height: 24px;
          border: none;
          border-radius: 3px;
        }
      }
    }
  }
}