.jlpt {
    border-style: solid;
    border-color: #de831f;
    .jlpt-header {
        background-color: #e9be99;
        display: flex;
        align-items: center;
        min-height: 80px;
        .jlpt-level {
            margin: 0 20px;
            span {
                font-size: 50px;
            }
        }
        .question-selection-box {
            display: flex;
            flex-grow: 1;
            .question-selection {
                margin: 0 20px;
                span {
                    font-size: 20px;
                }
            }
        }
        .header-right {
            margin: 0 20px;
        }
    }
    .jlpt-body {
        padding: 20px;
    }
}