html {
    height: 100%;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $textColor;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    margin: 0;
    min-height: 100%;
    background-color: $bodyBgColor;
    
    .ajax-loader {
        font-size: 32px;
        color: $accentColor;
    }
}

p {
    font-size: 1.5em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: 400;
}
h3 {
    font-size: 1.3em;
    font-weight: 500;
}

h4 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}