@import './_variables';
@import './_clearfix';

@import './_mixins';
@import './_utils';
@import './font/fontawesome.scss';

@import "./components/header";
@import "./components/breadcrumb";
@import "./components/footer";
@import "./components/main";